* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main#app-boundary {
    background-color: lightcoral;
    padding: 24px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}

main#app-boundary h1 {
    grid-column: 1 / span 2;
}

main#app-boundary button#kakao-login-button {
    padding: 12px;
}
main#app-boundary button#naver-login-button {
    padding: 12px;
}
main#app-boundary img#profile-image {
    width: 100px;
    height: 100px;
    background-color: lightgreen;
    grid-column: 1 / span 2;
    margin: 0 auto;
}

main#app-boundary button#logout-button {
    padding: 12px;
    width: 100%;
    grid-column: 1 / span 2;
}
